.menuIcon {
    width: 40px;
    margin: 30px;
    cursor: pointer;
    opacity: 1;
    z-index: 4;
    transition: opacity 0.3s ease-in-out,
    transform 0.2s ease-in-out;
    position: fixed;
    top:0px;
    right:0px;
}

.menuIcon.hidden {
    transform: translateY(-100px);
}

.xIcon {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 4;
}



.menuIcon.hiddenIcon {
    opacity: 0;
}

.menuPop {
    width: 100%;
    height: 100%;
    background-color: rgb(246, 246, 246);
    position: fixed;
    top:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    left: 0%;
    z-index: 3;
    transition: left 0.5s ease-out;
}

.menuPop.menuOff{
    left: -100%;
}

.menuItem {
    margin: 3vw;
    font-family: "KCUppercut";
    font-size: 10vw;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    color: black;
    position: relative;
    width: fit-content;
    left: 10vw;
    cursor: pointer;
    transition: letter-spacing 0.3s ease-in-out,
    color 0.3s ease-in-out;   
}

.menuItem:hover {
    letter-spacing: 10px;
    color: var(--red);
}

.menuText {
    margin: 15px;
}



@media (max-width: 800px) {
    .menuItem {
        font-size: 12vw;
    }
}
@media (max-width: 500px) {
    .menuIcon {
        width: 30px;
        margin: 22.5px;
    }

    .menuItem {
        width: 60vw;
        overflow-wrap: break-word;
        font-size: 15vw;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .menuItem:hover {
        letter-spacing: normal;
        color: black;
    }

    .menuPop {
        transition: left 0.2s;
    }
}