.WWDMidFlex {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -20vw;
    overflow-x: clip;
    overflow-y: visible;
}

.WWDMidTextFlex {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    left: 58vw;
    top: 30vw;
    width: 70vw;
    height: 300px;
    z-index: 1;
}

.WWDMidTitel {
    font-family: "KCUppercut";
    font-size: 9.5vw;
}

strong {
    font-size: 13vw;
    font-weight: 100;
    color: black;
}

.WWDMidBread {
    color: black;

    font-size: 2vw;
    text-align: left;
    width: 50vw;
    
}

.WWDMidDoodle {
    width: 130vw;
    position: relative;
    left: -30vw;
}



.WWBMidBreadLink {
    color: var(--red);
    font-weight: bold;
}

@media (max-width: 500px) {
    .WWDMidFlex {
        margin-top: 10vw;
    }
    
    .WWDMidBread {
        font-size: 5vw;
        width: 80vw;
    }

    .WWDMidDoodle {
        top: 50vw;
    }

    .WWDMidTitel {
        font-family: "KCUppercut";
        font-size: 12.6vw;
    }

    strong {
        font-size: 15vw;
    }
}