.contactFlagTitel {
    font-family: "KCUppercut";
    font-size: 15vw;
    color: black;
    position: relative;
    margin: 10vw 0 0 15vw;
    
}

.contactConFlex {
    display: flex;
    flex-direction: column;

    position: relative;
    margin: 8vw 0 30vw 15vw;
}

.contactItemFlex {
    display: flex;
    align-items: center;
    margin-top: 5vw;
    text-decoration: none;
    color: black;
}

.contactConTitel {
    font-family: "KCUppercut";
    font-size: 5vw;
}


@media (max-width: 950px) {
    .contactFlagTitel {
        margin: 17vw 0 0 15vw ;
    }
}

@media (max-width: 500px) {
    .contactFlagTitel {
        margin-top: 35vw;
    }

    .contactItemFlex {
        margin-top: 10vw;
    }
}
