.backdrop {
    background-color: rgb(255, 255, 255);
    transition: background-color 0.4s;
}

.uNeedAWeb {
    width: 100%;
    z-index: 2;
}

.backdrop.dark {
    background-color: rgb(27, 27, 27);
}