@font-face {
    font-family: "KCUppercut";
    src: url("../assets/fonts/KCUppercut.otf") format("opentype");
}

@font-face {
    font-family: 'Gupter';
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/Gupter\ Medium.woff2") format('woff2');
}

@font-face {
    font-family: 'Gupter';
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/Gupter\ Bold.woff2") format('woff2');
}

:root {
    --red: #c92e31;
    
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Gupter", "serif";
    font-weight: 100;
    background: rgb(255, 255, 255);
}

.but {
    width: 300px;
    height: 200px;
}




