.headerBar {
    position: fixed;
    top: 0px;
    z-index: 3;
    display: flex;
    height: 100px;
    overflow-y: hidden;
    width: 100%;
    transition: background-color 0.2s,
    transform 0.2s ease-in-out;
    justify-content: space-between;
}

.headerBar.white {
    background-color: white;
    
}

.headerBar.hidden {
    transform: translateY(-100%);
}

.brandLogo{
    width: 200px;
    height: 145.16px;
    margin: 0px;
    position: relative;
    top: -30px;
    z-index: 3;
}

@media (max-width:500px) {
    .brandLogo {
        width: 150px;
        height: 109px;
        top: -22px;
        
    }   
    .headerBar {
        height: 75px;
    } 
}
