.WWDFlagFlex {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: 8vw 0 0 5%;
    overflow-x: clip;
    overflow-y: visible;
}

.WWDFlagTitel {
    font-family: "KCUppercut";
    font-size: 25vw;
}

.WWDFlagTitel.right {
    font-size: 53vw;
    position: relative;
    left: -5vw;
    margin-top: 0.5vw;
}

.dots {
    width: 20vw;
    height: 10vw;
    position: absolute;
    top: 22vw;
    left: 18.5vw;

}
@media (max-width: 1250px) {
   .WWDFlagFlex{
       margin-top: 15vw;
   }

   .dots {
    top: 29vw;
   }
}
@media (max-width: 700px) {
   .WWDFlagFlex{
       margin-top: 20vw;
   }   

   .dots {
    top: 34vw;
   }

}

@media (max-width: 500px) {
    .WWDFlagFlex{
        margin-top: 30vw;
    } 

    .dots {
        top: 44vw;
       }

}