

.WWAFlagFlex {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
    top: 50px;
    z-index: 1;
}

.WWACatEyes {
    width: 100vw;
    position: absolute;
    top: 9vw;
    z-index: 0;
}

.WWAFlagTitel {
    font-family: "KCUppercut", sans-serif;
    font-size: 20vw;
    color: black;
    text-align: center;
    position: relative;
    top: 2vw;
    margin-top: 6vw;
    letter-spacing: 2vw;
}

.WWAFlagTitel.sub {
    margin-top: 10vw;
}

.WWAFlagDots {
    width: 17vw;
    height: 8.5vw;
    position: absolute;
    top: 27vw;
    right: 32.5vw;

}


@media (max-width: 800px) {
    .WWAFlagFlex {
        top: 100px;
    }
}